<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Fitty</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Com.Huajun-Ruan.DripLog</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitty</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>GoodKitty Regular.ttf</string>
		<string>Coolvetica-Regular.otf</string>
		<string>Coolvetica-Bold.otf</string>
		<string>Coolvetica-Book-Regular.otf</string>
	</array>
</dict>
</plist>
